{{template "../tpl/user/header.tpl" .}}

    <div class="container">
    
      <!--<div class="blog-header">
        <h1 class="blog-title">手记</h1>
     <p class="lead blog-description">每日手记</p>
      </div>
    -->
     <h1 class="blog-title">手记</h1>
      <p class="lead blog-description">每日手记，记录过程</p>
     
   <!--  <div class="container">-->
     
<div class="article-left l">
				<div class="ad-create">
<!--			<h3>用手记的方式，学习前沿流行技术</h3>-->
							<a href="/article/publish" target="_blank" class="create-ques">创建手记</a>
							
					<h3 class="blog-title">博主推荐</h1>
		</div>
		<div class="article-ad-wrap clearfix">
			<div class="article-ad-img l">
														<a href="http://www.imooc.com/article/13893" class="article-ad-info" data-ast="wenzhangindex_1_261" target="_blank"></a>
					<a class="article-ad-txt" title="99%的人都会答错的js面试题" data-ast="wenzhangindex_1_261" href="http://www.imooc.com/article/13893" target="_blank">
						<span>99%的人都会答错的js面试题</span>
					</a>					
					<img src="http://img.mukewang.com/581313b700014d2405200240.jpg" alt="99%的人都会答错的js面试题">
																														</div>
			<!-- ad-img end -->
			<div class="ad-font l">
				<ul>
										    										    					    <li>
					    	<div class="ad-r-warp ">
						    	<h2>
						    		<a href="http://www.imooc.com/article/13845" title="2016 年最受欢迎的编程语言" data-ast="wenzhangindex_1_263" target="_blank">2016 年最受欢迎的编程语言</a>
						    	</h2>
										
									<p class="ad-tags-list">		
							    													<a href="/article/tag/3" target="_blank" class="ad-tag">JAVA</a>，							    													<a href="/article/tag/12" target="_blank" class="ad-tag">Android</a>，							    													<a href="/article/tag/17" target="_blank" class="ad-tag">JavaScript</a>							    									    	</p>						    		 
						    							    			
					    	</div>					    	
					    </li>
					    										    					    <li>
					    	<div class="ad-r-warp ">
						    	<h2>
						    		<a href="http://www.imooc.com/article/13832" title="浅析同步压测与异步压测两种模式" data-ast="wenzhangindex_1_265" target="_blank">浅析同步压测与异步压测两种模式</a>
						    	</h2>
										
									<p class="ad-tags-list">		
							    													<a href="/article/tag/3" target="_blank" class="ad-tag">JAVA</a>，							    													<a href="/article/tag/20" target="_blank" class="ad-tag">Linux</a>，							    													<a href="/article/tag/51" target="_blank" class="ad-tag">测试</a>							    									    	</p>						    		 
						    							    			
					    	</div>					    	
					    </li>
					    									</ul>
			</div>
			<!-- ad-font end -->
		</div>
				<!-- be-create end -->
		<div class="tag-wrap clearfix">
			<!-- 标签 -->
	        <div class="article-tab clearfix">
		        			        			        				        	<a data-id="2" href="/article/tag/2" target="_blank">PHP</a>
			        				        			        				        	<a data-id="3" href="/article/tag/3" target="_blank">JAVA</a>
			        				        			        				        	<a data-id="5" href="/article/tag/5" target="_blank">Html/CSS</a>
			        				        			        				        	<a data-id="12" href="/article/tag/12" target="_blank">Android</a>
			        				        			        				        	<a data-id="25" href="/article/tag/25" target="_blank">CSS3</a>
			        				        			        				        	<a data-id="19" href="/article/tag/19" target="_blank">iOS</a>
			        				        			        				        	<a data-id="14" href="/article/tag/14" target="_blank">Html5</a>
			        				        			        				        	<a data-id="10" href="/article/tag/10" target="_blank">Photoshop</a>
			        				        			        				        	<a data-id="11" href="/article/tag/11" target="_blank">Mysql</a>
			        				        			        				        <a class="all" id="js-columall">更多<!--<span class="icon-drop_down"></span>--></a>
		        <div id="tagPop" class="tag-pop-layer">
		        			        		        			    					        			    					        			    					        			    					        			    					        			    					        			    					        			    					        			    					        				        		<a href="/article/tag/13" class="tag-detail" target="_blank">Node.js</a>
		        			    					        				        		<a href="/article/tag/17" class="tag-detail" target="_blank">JavaScript</a>
		        			    					        				        		<a href="/article/tag/18" class="tag-detail" target="_blank">Python</a>
		        			    					        				        		<a href="/article/tag/15" class="tag-detail" target="_blank">JQuery</a>
		        			    					        				        		<a href="/article/tag/20" class="tag-detail" target="_blank">Linux</a>
		        			    					        				        		<a href="/article/tag/8" class="tag-detail" target="_blank">MongoDB</a>
		        			    					        				        		<a href="/article/tag/22" class="tag-detail" target="_blank">AngularJS</a>
		        			    					        				        		<a href="/article/tag/7" class="tag-detail" target="_blank">Maya</a>
		        			    					        				        		<a href="/article/tag/9" class="tag-detail" target="_blank">Premiere</a>
		        			    					        				        		<a href="/article/tag/21" class="tag-detail" target="_blank">云计算</a>
		        			    					        				        		<a href="/article/tag/24" class="tag-detail" target="_blank">Bootstrap</a>
		        			    					        				        		<a href="/article/tag/26" class="tag-detail" target="_blank">前端工具</a>
		        			    					        				        		<a href="/article/tag/27" class="tag-detail" target="_blank">WebApp</a>
		        			    					        				        		<a href="/article/tag/28" class="tag-detail" target="_blank">C</a>
		        			    					        				        		<a href="/article/tag/29" class="tag-detail" target="_blank">Oracle</a>
		        			    					        				        		<a href="/article/tag/30" class="tag-detail" target="_blank">C++</a>
		        			    					        				        		<a href="/article/tag/31" class="tag-detail" target="_blank">Go</a>
		        			    					        				        		<a href="/article/tag/33" class="tag-detail" target="_blank">Unity 3D</a>
		        			    					        				        		<a href="/article/tag/34" class="tag-detail" target="_blank">Cocos2d-x</a>
		        			    					        				        		<a href="/article/tag/35" class="tag-detail" target="_blank">大数据</a>
		        			    					        				        		<a href="/article/tag/36" class="tag-detail" target="_blank">SQL Server</a>
		        			    					        				        		<a href="/article/tag/38" class="tag-detail" target="_blank">C#</a>
		        			    					        				        		<a href="/article/tag/39" class="tag-detail" target="_blank">数据结构</a>
		        			    					        				        		<a href="/article/tag/40" class="tag-detail" target="_blank">ZBrush</a>
		        			    					        				        		<a href="/article/tag/43" class="tag-detail" target="_blank">产品更新</a>
		        			    					        				        		<a href="/article/tag/46" class="tag-detail" target="_blank">职场生活</a>
		        			    					        				        		<a href="/article/tag/47" class="tag-detail" target="_blank">设计</a>
		        			    					        				        		<a href="/article/tag/48" class="tag-detail" target="_blank">征文</a>
		        			    					        				        		<a href="/article/tag/49" class="tag-detail" target="_blank">产品</a>
		        			    					        				        		<a href="/article/tag/50" class="tag-detail" target="_blank">React.JS</a>
		        			    					        				        		<a href="/article/tag/51" class="tag-detail" target="_blank">测试</a>
		        			    					        				        		<a href="/article/tag/52" class="tag-detail" target="_blank">Vue.js</a>
		        			    					        				        		<a href="/article/tag/53" class="tag-detail" target="_blank">Sass/Less</a>
		        			    					        	    		</div>
	    	</div>
		</div>
		<div class="article-tool-bar clearfix">
	        <div class="tool-left l">

	            <a href="javascript:;" data-hot="hot" class="sort-item active">全部手记</a>
	            <a href="javascript:;" class="sort-item ">新上榜</a>
	            
	        </div>
	    </div>
		
        <script>
var uidArr=[
			479481
		,			4290252
		,			4303429
		,			3341634
		,			3341634
		,			3723475
		,			2648974
		,			4020340
		,			4159208
		,			1098050
		,			447064
		,			267724
		,			1861568
		,			2648974
		,			3936761
			];
</script>
<div class="article-lwrap ">
	
	<h3 class="item-title">
		<a href="/article/14052" class="title-detail" target="_blank">算法实战课--Python实现之选择排序</a>
			</h3>
	<!-- text -->
	<div class="">
		
		<p class="item-bd">算法+数据结构=编程 算法实际上是依托于数据结构的，没有数据结构就没有算法。 以下代码在Python3.5上正常运行，转载请注明出处。 给Python学习算法实战课的同学，一个参考。 By.秋名山车神 算法与数据结构C++精解 O(n^2)级别的排序算法 选择排序 将一个列表：10, 9, 8, 7, 6, 5, 4, 3, 2, 1 进行从小到大排序： 普通实现 # arr为待排序的列表 # 在...</p>
		<div class="item-btm clearfix">
			<ul class="l left-info" data-fuid="479481"><li class="hd-pic"><a class="publisher-name" title="秋名山车神" href="/u/479481/articles" target="_blank">秋名山车神</a></li><li class="teacher"><a href="###" title="慕课网讲师"></a></li><li class="great"><a href="###" title="认证作者"></a></li><li class="ismooc"><a href="###" title="慕星人"></a></li>
																</ul>
			<div class="r right-info">
				<span class="looked">137浏览</span>
				<span class="recom">5推荐</span>
				<span class="judge">1评论</span>
			</div>
		</div>
	</div>
</div>
<div class="article-lwrap clearfix">
	
	<h3 class="item-title">
		<a href="/article/13968" class="title-detail" target="_blank">H5之svg练习笔记静女其姝（原创）</a>
			</h3>
	<!-- text -->
	<div class="item-txt">
					<!-- img -->
			<div class="item-img l">
				<a href="/article/13968" target="_blank">
					<img src="http://img.mukewang.com/581305340001b03002050221-210-130.jpg" width="210" height="130">
				</a>
			</div>
		
		<p class="item-bd">&lt;!DOCTYPE html&gt; &lt;html&gt; &lt;head&gt; &lt;meta charset="{CHARSET}"&gt; &lt;title&gt;h5练习&lt;/title&gt; &lt;/head&gt; &lt;body&gt; &lt;svg height="190"&gt; &lt;polygon points="100,10 40,180 1...</p>
		<div class="item-btm clearfix">
			<ul class="l left-info" data-fuid="4290252"><li class="hd-pic"><a class="publisher-name" title="静女其姝w" href="/u/4290252/articles" target="_blank">静女其姝w</a></li>
																</ul>
			<div class="r right-info">
				<span class="looked">643浏览</span>
				<span class="recom">8推荐</span>
				<span class="judge">0评论</span>
			</div>
		</div>
	</div>
</div>
<div class="article-lwrap clearfix">
	
	<h3 class="item-title">
		<a href="/article/13964" class="title-detail" target="_blank">有梦想，也要去努力实现！</a>
			</h3>
	<!-- text -->
	<div class="item-txt">
					<!-- img -->
			<div class="item-img l">
				<a href="/article/13964" target="_blank">
					<img src="http://img.mukewang.com/5812fcbe00012c6701800180-210-130.jpg" width="210" height="130">
				</a>
			</div>
		
		<p class="item-bd">一.javaScript: 1.作用：*数据验证，页面特效。 2.组成：*ECMAScript（欧洲计算机协会） *DOM（文档对象模型） *BOM（浏览器对象模型） 3.注释：/* */ ---多行注释 // ---单行注释 &lt;% %&gt; ---jsp注释 &lt;!-- --&gt;---HTML注释 4.javaScript的代码区分大小写，每句都以分号结束。 5.javaScri...</p>
		<div class="item-btm clearfix">
			<ul class="l left-info" data-fuid="4303429"><li class="hd-pic"><a class="publisher-name" title="qq_彼岸誰在_" href="/u/4303429/articles" target="_blank">qq_彼岸誰在_</a></li>
																</ul>
			<div class="r right-info">
				<span class="looked">937浏览</span>
				<span class="recom">25推荐</span>
				<span class="judge">3评论</span>
			</div>
		</div>
	</div>
</div>
<div class="article-lwrap ">
	
	<h3 class="item-title">
		<a href="/article/13962" class="title-detail" target="_blank">Java高级实用技术知识</a>
			</h3>
	<!-- text -->
	<div class="">
		
		<p class="item-bd">一． l/集合框架 Collection接口 存储 一组不唯一、无序的数据 List 存储一组不唯一、有序（插入顺序）的数据 Set 存储一组唯一、无序的数据 ArrayList类 存储数据为数组，当前类实现了长度可变的数组操作。特点是随机访问和遍历效率高。 注：默认的数组长度为10，当数组不够存储数组时，将创建新数组。并且将原来数组中的元素复制到新数组，然后添加新元素， 新数组长度为（旧数组长度...</p>
		<div class="item-btm clearfix">
			<ul class="l left-info" data-fuid="3341634"><li class="hd-pic"><a class="publisher-name" title="qq_奔跑吧少年" href="/u/3341634/articles" target="_blank">qq_奔跑吧少年</a></li>
																</ul>
			<div class="r right-info">
				<span class="looked">605浏览</span>
				<span class="recom">20推荐</span>
				<span class="judge">0评论</span>
			</div>
		</div>
	</div>
</div>
<div class="article-lwrap ">
	
	<h3 class="item-title">
		<a href="/article/13960" class="title-detail" target="_blank">javaScript知识点整理</a>
			</h3>
	<!-- text -->
	<div class="">
		
		<p class="item-bd">JavaScript 特点： 1.JavaScript主要用来向HTML页面中添加交互行为。 JavaScript是一种脚本语言，语法和java类似 3.javaScript一般用来编写客户端脚本 4.JavaScript是一种解释性语言，边执行边解释。 二．JavaScript的组成 由核心语法（ECMAScript）、浏览器对象模型（BOM）、文档对象模型（DOM） 三．JavaScript的...</p>
		<div class="item-btm clearfix">
			<ul class="l left-info" data-fuid="3341634"><li class="hd-pic"><a class="publisher-name" title="qq_奔跑吧少年" href="/u/3341634/articles" target="_blank">qq_奔跑吧少年</a></li>
																</ul>
			<div class="r right-info">
				<span class="looked">965浏览</span>
				<span class="recom">24推荐</span>
				<span class="judge">0评论</span>
			</div>
		</div>
	</div>
</div>
<div class="article-lwrap ">
	
	<h3 class="item-title">
		<a href="/article/13958" class="title-detail" target="_blank">关于前端排序的需求场景总结</a>
		<span class="original">原创</span>	</h3>
	<!-- text -->
	<div class="">
		
		<p class="item-bd">在平时工作中，我们常常会有这样一种场景，我们需要在页面上展示一些商品，按照价格或者上架时间排序，价格相同时按照上架时间排序展示。面对这种需求，我们有一种做法是传一个排序字段的参数给后端同学，后端同学拿着这个参数拼装在sql里去数据库查询，然后将结果返回。但很多时候数据库里的数据短时间内没有任何增量，而页面也频繁有排序操作，我们就没有必要通过这种方式去实现，直接在前端实现group by和order...</p>
		<div class="item-btm clearfix">
			<ul class="l left-info" data-fuid="3723475"><li class="hd-pic"><a class="publisher-name" title="唯爱KG" href="/u/3723475/articles" target="_blank">唯爱KG</a></li>
																</ul>
			<div class="r right-info">
				<span class="looked">332浏览</span>
				<span class="recom">2推荐</span>
				<span class="judge">0评论</span>
			</div>
		</div>
</div>
	</div>
<div class="article-lwrap ">
	
	<h3 class="item-title">
		<a href="/article/13957" class="title-detail" target="_blank">第二章 html 常用标签[1]</a>
			</h3>
	<!-- text -->
	<div class="">
		
		<p class="item-bd">标签是 html 文件的重要组成部分，它把我们页面的骨架搭建起来，相当于我们 开发房子的时候那个基本框架（至于装潢变漂亮那个是 css 的事情） ，所以是极度重要的，从这节课开始我们要说说 html 的常用标签! pay attention！！！！ 首先我不得不说一件事，这个笔记是跟我我开的教学视屏来的，全部都是原创，所以可能视屏未上传，大家都有点看起来不太懂，我目前已经打算申请慕课网讲师，希望能...</p>
		<div class="item-btm clearfix">
			<ul class="l left-info" data-fuid="2648974"><li class="hd-pic"><a class="publisher-name" title="groge" href="/u/2648974/articles" target="_blank">groge</a></li>
																</ul>
			<div class="r right-info">
				<span class="looked">425浏览</span>
				<span class="recom">4推荐</span>
				<span class="judge">0评论</span>
			</div>
		</div>
	</div>
</div>
<div class="article-lwrap ">
	
	<h3 class="item-title">
		<a href="/article/13947" class="title-detail" target="_blank">jQuery学习手记 动画篇</a>
			</h3>
	<!-- text -->
	<div class="">
		
		<p class="item-bd">一、 隐藏和显示 hide()方法 隐藏元素 show()方法 显示元素 toggle()方法 显示与隐藏切换 二、 上卷下拉效果 下拉动画slideDown 具体使用： $("ele").slideDown(1000, function() { //等待动画执行1秒后,执行别的动作.... }); 上卷动画slideUp 例子： $("button:last&amp;quo...</p>
		<div class="item-btm clearfix">
			<ul class="l left-info" data-fuid="4020340"><li class="hd-pic"><a class="publisher-name" title="qq_小火车_0" href="/u/4020340/articles" target="_blank">qq_小火车_0</a></li>
																</ul>
			<div class="r right-info">
				<span class="looked">314浏览</span>
				<span class="recom">4推荐</span>
				<span class="judge">0评论</span>
			</div>
		</div>
	</div>
</div>
<div class="article-lwrap ">
	
	<h3 class="item-title">
		<a href="/article/13945" class="title-detail" target="_blank">想好的路就要一直走下去</a>
			</h3>
	<!-- text -->
	<div class="">
		
		<p class="item-bd">图片描述...</p>
		<div class="item-btm clearfix">
			<ul class="l left-info" data-fuid="4159208"><li class="hd-pic"><a class="publisher-name" title="放开那个女孩儿" href="/u/4159208/articles" target="_blank">放开那个女孩儿</a></li>
																</ul>
			<div class="r right-info">
				<span class="looked">774浏览</span>
				<span class="recom">12推荐</span>
				<span class="judge">2评论</span>
			</div>
		</div>
	</div>
</div>
<div class="article-lwrap ">
	
	<h3 class="item-title">
		<a href="/article/13944" class="title-detail" target="_blank">前端处理小图标的那些解决方案（图文实操）</a>
		<span class="original">原创</span>	</h3>
	<!-- text -->
	<div class="">
		
		<p class="item-bd">先做一个选择题：前端开发使用构建工具的目的是什么？ A、因为现在流行node.js，都在使用构建工具 B、让前端开发变得高大上，和后端一样编译才能运行 C、让自动化工具替代重复的手工操作，比如合并代码，刷新浏览器预览效果等。 选择A、B请直接关闭此文，选择C请继续阅读。 其实使用工具的目的就一个： 自动化一些重复操作，提升工作效率。ok，明确了这一点之后再来探究有哪些方式，可以把一堆小图标合并成一...</p>
		<div class="item-btm clearfix">
			<ul class="l left-info" data-fuid="1098050"><li class="hd-pic"><a class="publisher-name" title="亚里士朱德" href="/u/1098050/articles" target="_blank">亚里士朱德</a></li><li class="great"><a href="###" title="认证作者"></a></li>
																</ul>
			<div class="r right-info">
				<span class="looked">605浏览</span>
				<span class="recom">8推荐</span>
				<span class="judge">1评论</span>
			</div>
		</div>
	</div>
</div>
<div class="article-lwrap ">
	
	<h3 class="item-title">
		<a href="/article/13941" class="title-detail" target="_blank">python爬虫知识学习分享</a>
			</h3>
	<!-- text -->
	<div class="">
		
		<p class="item-bd">着眼于未来，我们来看看python的招聘信息 看起来还不错！ scrapy startproject liepin 我用的Scrapy，Scrapy是Python开发的一个快速,高层次的屏幕抓取和web抓取框架，用于抓取web站点并从页面中提取结构化的数据。使用了 Twisted 异步网络库来处理网络通讯。整体架构： Scrapy的安装，自行百度吧！学习它的使用，最好方法就是看文档，中文文档点这里...</p>
		<div class="item-btm clearfix">
			<ul class="l left-info" data-fuid="447064"><li class="hd-pic"><a class="publisher-name" title="hadeslee" href="/u/447064/articles" target="_blank">hadeslee</a></li>
																</ul>
			<div class="r right-info">
				<span class="looked">372浏览</span>
				<span class="recom">5推荐</span>
				<span class="judge">0评论</span>
			</div>
		</div>
	</div>
</div>
<div class="article-lwrap ">
	
	<h3 class="item-title">
		<a href="/article/13939" class="title-detail" target="_blank">移动办公越来越普及，开发如何调试让人头疼</a>
			</h3>
	<!-- text -->
	<div class="">
		
		<p class="item-bd">分享下我在研发过程中用到的工具Chrome://inspect，在手机上设置允许调试。无论自己研发或者远程解决客户问题都是非常不错的选择。 图片1是远程客户移动页面 图片2是在谷歌上看到文件的调用，非常直观的...</p>
		<div class="item-btm clearfix">
			<ul class="l left-info" data-fuid="267724"><li class="hd-pic"><a class="publisher-name" title="dssdggcd" href="/u/267724/articles" target="_blank">dssdggcd</a></li>
																</ul>
			<div class="r right-info">
				<span class="looked">520浏览</span>
				<span class="recom">6推荐</span>
				<span class="judge">2评论</span>
			</div>
		</div>
	</div>
</div>
<div class="article-lwrap ">
	
	<h3 class="item-title">
		<a href="/article/13935" class="title-detail" target="_blank">前端工程师面试（Angularjs）</a>
			</h3>
	<!-- text -->
	<div class="">
		
		<p class="item-bd">angularjs面试题：https://segmentfault.com/a/1190000005836443 css面试题：http://developer.51cto.com/art/201504/473284.htm js面试题：http://bbs.blueidea.com/thread-3107428-1-1.html http://www.jb51.net/article/77140...</p>
		<div class="item-btm clearfix">
			<ul class="l left-info" data-fuid="1861568"><li class="hd-pic"><a class="publisher-name" title="Freya0_0" href="/u/1861568/articles" target="_blank">Freya0_0</a></li>
																</ul>
			<div class="r right-info">
				<span class="looked">428浏览</span>
				<span class="recom">3推荐</span>
				<span class="judge">0评论</span>
			</div>
		</div>
	</div>
</div>
<div class="article-lwrap ">
	
	<h3 class="item-title">
		<a href="/article/13934" class="title-detail" target="_blank">第一章 html基础知识（html 基本结构 | 标签|属性|元素 |</a>
		<span class="original">原创</span>	</h3>
	<!-- text -->
	<div class="">
		
		<p class="item-bd">html 基本结构 &lt;!DOCTYPE html&gt; ----------------声明文档的解析类型， 避免浏览器的怪异模式 &lt;html&gt; ----------------根标签（开始） &lt;head&gt; ----------------头标签（开始） &lt;title&gt;html 基本结构&lt;/title&gt;-------------标题标签 &amp;l...</p>
		<div class="item-btm clearfix">
			<ul class="l left-info" data-fuid="2648974"><li class="hd-pic"><a class="publisher-name" title="groge" href="/u/2648974/articles" target="_blank">groge</a></li>
																</ul>
			<div class="r right-info">
				<span class="looked">615浏览</span>
				<span class="recom">17推荐</span>
				<span class="judge">2评论</span>
			</div>
		</div>
	</div>
</div>
<div class="article-lwrap ">
	
	<h3 class="item-title">
		<a href="/article/13932" class="title-detail" target="_blank">laravel基础课程总结的笔记</a>
		<span class="original">原创</span>	</h3>
	<!-- text -->
	<div class="">
		
		<p class="item-bd">laravel框架 下载地址：http://www.golaravel.com/download 路由 //get,post Route::match(['post','get'],'name',function(){ return view('view'); }); //所有类型的路由都可以访问 Route::any...</p>
		<div class="item-btm clearfix">
			<ul class="l left-info" data-fuid="3936761"><li class="hd-pic"><a class="publisher-name" title="旺仔小馒头21" href="/u/3936761/articles" target="_blank">旺仔小馒头21</a></li>
																</ul>
			<div class="r right-info">
				<span class="looked">190浏览</span>
				<span class="recom">3推荐</span>
				<span class="judge">0评论</span>
			</div>
		</div>
	</div>
</div>
<!-- 分页 -->
<div id="pagenation" class="pagenation"><div class="page"><span class="disabled_page">首页</span><span class="disabled_page">上一页</span><a href="javascript:void(0)" class="active text-page-tag">1</a><a class="text-page-tag" href="/article/hot/2">2</a><a class="text-page-tag" href="/article/hot/3">3</a><a class="text-page-tag" href="/article/hot/4">4</a><a class="text-page-tag" href="/article/hot/5">5</a><a class="text-page-tag" href="/article/hot/6">6</a><a class="text-page-tag" href="/article/hot/7">7</a><a href="/article/hot/2">下一页</a><a href="/article/hot/288">尾页</a></div></div>

	</div>
	
      </div>
	 </div>
	<!--结束手记 -->
				


{{template "../tpl/user/footer.tpl" .}}