{{template "../tpl/user/header.tpl" .}}

    <div class="container">
      <div class="blog-header">
        <h1 class="blog-title">知识库</h1>
        <p class="lead blog-description">知识&技术改变世界！</p>
      </div>
     </div>
     
<div class="mainCol">


		<ul class="list01 clearfix">
				<li>
				<div class="spantop bk0">
					<div class="imgtop">
						<img src="/static/img/weinxin.jpg" alt="" width="360" height="94">
					</div>
					<span>
						<a href="http://lib.csdn.net/base/wechat" target="_blank"><img src="/static/img/wxlogo.jpg" alt="" width="80" height="80"></a>
					</span>
				</div>
				<p>
					<a href="http://lib.csdn.net/base/wechat" class="title" target="_blank">微信开发</a><span class="content">微信开发即微信公众平台开发，将企业信息、服务、活动等通过微信网页的方式表现。开发者利用微信开放的技术接口可进行二次开发，将公众账号由一个媒体型营销工具转化成提供服务的产品。</span>
				</p>
				</li>
				
	
					<li>
				<div class="spantop bk0">
					<div class="imgtop">
						<img src="/static/img/zhibo.jpg" alt="" width="360" height="94">
					</div>
					<span>
						<a href="http://lib.csdn.net/base/liveplay" target="_blank"><img src="/static/img/zblogo.jpg" alt="" width="80" height="80"></a>
					</span>
				</div>
				<p>
					<a href="http://lib.csdn.net/base/liveplay" class="title" target="_blank">直播技术</a><span class="content">中国已在2016年进入直播时代，这种成本低廉、互动性高、部署便捷、稳定可靠的方式，最初局限于游戏直播和在线聊天，而现在泛生活类、娱乐类直播开始逐渐流行。</span>
				</p>
				</li>
				
				
				<li>
				<div class="spantop bk0">
					<div class="imgtop">
						<img src="/static/img/hive.jpg" alt="" width="360" height="94">
					</div>
					<span>
						<a href="http://lib.csdn.net/base/hive" target="_blank"><img src="/static/img/hvlogo.jpg" alt="" width="80" height="80"></a>
					</span>
				</div>
				<p>
					<a href="http://lib.csdn.net/base/hive" class="title" target="_blank">Hive</a><span class="content">Hive是基于Hadoop的一个数据仓库工具，可以将结构化的数据文件映射为一张数据库表，并提供简单的sql查询功能，可以将sql语句转换为MapReduce任务进行运行。</span>
				</p>
				</li>
			
				<li>
				<div class="spantop bk0">
					<div class="imgtop">
						<img src="/static/img/objectc.jpg" alt="" width="360" height="94">
					</div>
					<span>
						<a href="http://lib.csdn.net/base/objective-c" target="_blank"><img src="/static/img/oclogo.jpg" alt="" width="80" height="80"></a>
					</span>
				</div>
				<p>
					<a href="http://lib.csdn.net/base/objective-c" class="title" target="_blank">Objective-C</a><span class="content">Objective-C是扩充C的面向对象编程语言。它主要使用于Mac OS X和GNUstep这两个使用OpenStep标准的系统，而在NeXTSTEP和OpenStep中它更是基本语言。</span>
				</p>
				</li>
			
				<li>
				<div class="spantop bk0">
					<div class="imgtop">
						<img src="/static/img/qukuai.jpg" alt="" width="360" height="94">
					</div>
					<span>
						<a href="http://lib.csdn.net/base/blockchain" target="_blank"><img src="/static/img/qklogo.jpg" alt="" width="80" height="80"></a>
					</span>
				</div>
				<p>
					<a href="http://lib.csdn.net/base/blockchain" class="title" target="_blank">区块链</a><span class="content">区块链（Blockchain）：比特币背后的技术，无需中心服务器，可实现各类存储数据公开、透明、可追溯。</span>
				</p>
				</li>
			
				<li>
				<div class="spantop bk0">
					<div class="imgtop">
						<img src="/static/img/xuexi.jpg" alt="" width="360" height="94">
					</div>
					<span>
						<a href="http://lib.csdn.net/base/deeplearning" target="_blank"><img src="/static/img/xxlogo.jpg" alt="" width="80" height="80"></a>
					</span>
				</div>
				<p>
					<a href="http://lib.csdn.net/base/deeplearning" class="title" target="_blank">深度学习</a><span class="content">深度学习的概念源于人工神经网络的研究，含多隐层的多层感知器就是一种深度学习结构。它是机器学习研究的一个新领域，模仿人脑机制来解释数据。</span>
				</p>
				</li>
			
				<li>
				<div class="spantop bk0">
					<div class="imgtop">
						<img src="/static/img/react.jpg" alt="" width="360" height="94">
					</div>
					<span>
						<a href="http://lib.csdn.net/base/reactnative" target="_blank"><img src="/static/img/rnlogo.jpg" alt="" width="80" height="80"></a>
					</span>
				</div>
				<p>
					<a href="http://lib.csdn.net/base/reactnative" class="title" target="_blank">React Native</a><span class="content">React Native是一款基于JavaScript框架React.js来开发iOS和Android原生App的开源框架，着力于提高多平台开发的开发效率&mdash;&mdash;仅需学习一次，编写任何平台。(Learn once,write anywhere)</span>
				</p>
				</li>
			
				<li>
				<div class="spantop bk0">
					<div class="imgtop">
						<img src="/static/img/ios.jpg" alt="" width="360" height="94">
					</div>
					<span>
						<a href="http://lib.csdn.net/base/ios" target="_blank"><img src="/static/img/ioslogo.jpg" alt="" width="80" height="80"></a>
					</span>
				</div>
				<p>
					<a href="http://lib.csdn.net/base/ios" class="title" target="_blank">iOS</a><span class="content">iOS是由苹果公司开发的移动操作系统。原名叫iPhone OS，因为iPad，iPhone，iPod touch都使用iPhone OS，所以2010WWDC大会上宣布改名为iOS。</span>
				</p>
				</li>
			
						<li>
				<div class="spantop bk0">
					<div class="imgtop">
						<img src="/static/img/ios.jpg" alt="" width="360" height="94">
					</div>
					<span>
						<a href="http://lib.csdn.net/base/ios" target="_blank"><img src="/static/img/ioslogo.jpg" alt="" width="80" height="80"></a>
					</span>
				</div>
				<p>
					<a href="http://lib.csdn.net/base/ios" class="title" target="_blank">iOS</a><span class="content">iOS是由苹果公司开发的移动操作系统。原名叫iPhone OS，因为iPad，iPhone，iPod touch都使用iPhone OS，所以2010WWDC大会上宣布改名为iOS。</span>
				</p>
				</li>
			
			
			
			
			
		</ul>
		<div id="divmore" class="divmore">
			<a href="http://lib.csdn.net/bases" target="_blank">
				<span class="loadjt addbkmove"></span>
            <span class="loadtext">
                <em class="addtextmove">更多知识库</em>
                <i class="fa fa-arrow-circle-right addtextmove"></i>
            </span>
			</a>
		</div>
	


    


</div><!-- end row -->
    </div><!-- end container -->


{{template "../tpl/user/footer.tpl" .}}